<h1>Welcome</h1>

<button type="button" class="btn btn-primary"><%= link_to "Sign-Out", destroy_user_session_path, :class => "btn-primary", method: :delete %></button>

<button type="button" class="btn btn-primary"><%= link_to "Register For Placement", destroy_user_session_path, :class => "btn-primary", method: :delete %></button>
